

#update-heading{
    text-align: center;
}

#back{
    
    background-image: url('/assets/images/girl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background-color: rgba(255, 255, 255, 0.644);
    margin-bottom: 20px;
    width: fit-content;
    /* height: fit-content; */
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 150px;
    
}
.success-message{
    margin-top: 30px;
}
.update-student-img{
    height: 100px;
    width: 100px;
    margin-left: 150px;
}
table,td,tr,th{
    border: 1px solid rgb(168, 161, 161);
    border-collapse: collapse;
}
td{
    padding: 5px 10px;
}