<app-nav></app-nav>
<div id="back">
    <body>
        <div class="add-student-head" *ngIf="!isAdded">
            <div>
                <img src="/assets/images/pic.png" alt="add-student" class="add-student-img">
            </div>
            <div>        
                <h1 id="register-heading" *ngIf="!isAdded">Student Registration</h1>
            </div>
        </div>
        <div class="container-fluid mb-5" id="form-container" *ngIf="!isAdded">
            <form action="" #studentForm="ngForm" >
            
                <div class="form-group">
                    <label for="text">Enter Full Name</label>
                    <input type="text" required #name="ngModel"  [class.is-invalid]='name.invalid && name.touched' class="form-control" name="name" [(ngModel)]="studentModel.name">  
                    <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is required</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="age">Enter Age</label>
                    <input type="text" required #age="ngModel"class="form-control" [class.is-invalid]="age.invalid && age.touched" name="age" id="age"  [(ngModel)]="studentModel.age">
                    <small [class.d-none]="age.valid || age.untouched" class="text-danger">Age is required</small>
                </div>
                <br>
       
    
            
                <br>
                <div class="form-group">
                    <label for="email">Enter Email</label>
                    <input type="email" class="form-control" required  [class.is-invalid]="email.invalid && email.touched" name="email" [(ngModel)]="studentModel.email" #email="ngModel"> 
                    <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="mobile">Enter Contact Number</label>
                    <input type="text" class="form-control" required pattern="^\d{10}$"  [class.is-invalid]="mobile.invalid && mobile.touched" name="mobile" [(ngModel)]="studentModel.contactNum" #mobile="ngModel"> 
                    <small [class.d-none]="mobile.valid || mobile.untouched" class="text-danger">Contact number is required and must be 10 digits</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="address">Enter Address</label>
                    <input type="text" required class="form-control" #address="ngModel" name="address" id="address"  [(ngModel)]="studentModel.address" [class.is-invalid]='address.invalid && address.touched' >
                    <small  [class.d-none]="address.valid || address.untouched" class="text-danger">Address is required</small>
                </div>
                <br>
                <label>Gender</label>
                <div class="form-group" style="display: flex; ">
                    
                    <div class="form-check" style="margin-left: 20px;margin-right: 20px;">
                      <input type="radio" required class="form-check-input" name="male" value="M" [(ngModel)]="studentModel.gender">
                      <label class="form-check-label" for="text">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio"required  class="form-check-input" name="female" value="F" [(ngModel)]="studentModel.gender">
                        <label class="form-check-label" for="text">Female</label>
                      </div>
                </div>
                <br>
                <div class="form-group">
                    <select class="form-select" (blur)="validateDegree(degree.value)" (change)="validateDegree(degree.value)" #degree="ngModel"  [class.is-invalid]="degreeHasError && degree.touched" [(ngModel)]="studentModel.degree" name="degrees">
                        <option value="" disabled>Select Degree</option>
                        
                      <option *ngFor="let degree of degrees">{{degree}}</option>
                    </select> 
                    <small [class.d-none]="!degreeHasError || degree.untouched"  class="text-danger">Please choose a degree</small>
                  </div>
                  <br>
                <div class="form-group" style="display: flex; justify-content: center;">
                    <button   [disabled]="studentForm.form.invalid || degreeHasError" type="submit" class="form-group" name="submit" id="submit" class="btn btn-primary" (click)="addStudent()">Register</button>
                </div>
            </form>
        </div>
        <div class="success-message" *ngIf="isAdded">
            <div>
                <h1>{{message}}</h1>
            </div>
            <br>
            <div class="added-details">
                <table >
                    <tr>
                        <td><b>Name</b></td>
                        <td>{{studentModel.name}}</td>
                    </tr>
                    <tr>
                        <td><b>Age</b></td>
                        <td>{{studentModel.age}}</td>
                    </tr>
                    <tr>
                        <td><b>Gender</b></td>
                        <td>{{studentModel.gender}}</td>
                    </tr>
                    <tr>
                        <td><b>Email</b></td>
                        <td>{{studentModel.email}}</td>
                    </tr>
                    <tr>
                        <td><b>Contact Number</b></td>
                        <td>{{studentModel.contactNum}}</td>
                    </tr>
                    <tr>
                        <td><b>Address</b></td>
                        <td>{{studentModel.address}}</td>
                    </tr>
                    <tr>
                        <td><b>Degree</b></td>
                        <td>{{studentModel.degree}}</td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <button id="add-another-btn" class="btn btn-primary" (click)="addAnotherStudent()">Add Another Student</button>
            </div>
        </div> 
    
    </body>
    
</div>
