
#register-heading{
    text-align: center;
}
#back{
    
    background-image: url('/assets/images/girl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background-color: rgba(255, 255, 255, 0.644);
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 150px;
    
}

#form-container{
    display: flex;
    justify-content: center;
}
.add-student-head{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   
}
.add-student-img{
    height: 100px;
    width: 100px;
    margin-left: 150px;
}
.success-message h1 {
   
    text-align: center;
    color: rgb(13, 13, 165);
}
.success-message{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    margin-left: 70px;

}
#add-another-btn{
    width: fit-content;

}
.success-message{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    
}
.added-details{
    display: flex;
    justify-content: center;
}
table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
td{
    padding: 10px 20px;
}