<app-nav></app-nav>
<br>
<input id="searchBar" [(ngModel)]="searchBy" type="text" class="form-control" placeholder="Search By Name">

<br>
<div id="all-students-container">
    <table>
        <thead>
            <th>Student Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Address</th>
            <th>Degree</th>
            <th>Update Student</th>
            <th>Delete Student</th>
        </thead>
        <tbody>
            <tr *ngFor="let student of allStudents | searchPipe:searchBy">
                <td>
                    <a  routerLink="list/{{student.id}}" style="text-decoration: none;"> <b> {{student.id}}</b></a>
                </td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.gender}}</td>
                <td><a  href="mailto:{{student.email}}">{{student.email}}</a></td>
                <td>{{student.address}}</td>
                <td>{{student.degree}}</td>
                <td>
                    <button class="btn btn-success" routerLink="../update/{{student.id}}">Update</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>

</div>
