#all-students-container{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: small;
    display: flex;
    justify-content: center;
}
table{
    width:1200px;
}
table,td,tr,th{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    padding: 5px 10px;
}

button{
    font-size: small;
}

#searchBar{
    margin-left: 76px;
    width: fit-content;
}