<app-nav></app-nav>
<div class="background-container">
    <div id="insights"><h1>INSIGHTS</h1></div>
    
    <div class="main-container">
        <div class="card" id="total-students-card">
            <h3>Total Students</h3>
            <h1>{{totalStudents}}</h1>
        </div>
        <div class="cards">

            <div class="card">
                <h3>Male Students</h3>
                <h1>{{maleCount}}</h1>
            </div>
 
            <div class="card">
                <h3>Female Students</h3>
                <h1>{{femaleCount}}</h1>
            </div>
        </div>
       <div id="seperator"></div>
       <div class="cards">
        <div class="card">
            <h3>{{degrees[0]}}</h3>
            <h1>{{csCount}}</h1>
        </div>
        <div class="card">
            <h3>{{degrees[1]}}</h3>
            <h1>{{seCount}}</h1>
        </div>
        <div class="card">
            <h3>{{degrees[2]}}</h3>
            <h1>{{aiCount}}</h1>
        </div>
        <div class="card">
            <h3>{{degrees[3]}}</h3>
            <h1>{{dsCount}}</h1>
        </div>
        <div class="card">
            <h3>{{degrees[4]}}</h3>
            <h1>{{bisCount}}</h1>
        </div>
        
       </div>
    </div>   
 
</div>

